

.homeTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 150px;
    padding: 0 20px;
    min-height: 42vh;
}

.topImage{
      display: none;
      padding-top: 50px;
       min-height: 42vh;
       max-width: 100%;
       object-fit: contain;
}

.homeTextContainer h1{
      font-size: 95px;
}

.homeTextContainer h3{
      font-size: 25px;
}

.socialLinks{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
}

.homeSecondSection{
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 42vh;
    text-align: center;
    width: 100%;
    padding: 100px 20px 50px;
    margin-bottom: 50px;
}

.homeSecondSection h3{
      font-size: 17px;
}

@media (min-width: 600px) { 
      .homeTextContainer h1{
      font-size: 110px;
}

.topImage{
      display: none;
      padding-top: 100px;
       min-height: 42vh;
       max-width: 100%;
}


.homeTextContainer h3{
      font-size: 35px;
}

.homeSecondSection h3{
      font-size: 27px;
}

.homeSecondSection{
    padding: 150px 40px 50px;
}
 }

 @media (min-width: 1280px) { 
      .homeTextContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; 
    padding-left: 100px;
    padding-right: 50px;
    color: white;
    min-height: 42vh;
    margin-top: 150px;
    flex: 1;
    max-width: 600px;
}

.homeTextContainer h3{
      font-size: 25px;
}

.homeSecondSection{
       display: flex;
       flex-direction: row;
       gap: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 42vh;
    text-align: center;
    width: 100%;
    padding: 150px 300px 50px;
    margin-bottom: 50px;
}

.homeTopContainer{
      display: flex;
      padding-right: 100px;
      padding-left: 100px;
      gap: 80px;
      align-items: center;
      justify-content: center;
      max-width: 1600px;
      margin: 0 auto;
      overflow: hidden;
}

.topImage{
      display: block;
      padding-top: 150px;
       min-height: 42vh;
       max-width: 700px;
       width: 100%;
       height: auto;
       object-fit: contain;
       flex-shrink: 0;
}

  }
