

.homeTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 200px;
    height: 42vh;
}

.homeTextContainer h1{
      font-size: 95px;
}

.homeTextContainer h3{
      font-size: 25px;
}
