.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 72vh;
    margin-bottom: 100px;
    padding: 0 20px;
}

.aboutContainer h3{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.aboutContainer p{

    font-size: 20px;
    text-align: center;
   
}

.sectionTitle{
  text-align:center;
  font-size: 30px;
  color:white ;
  padding-top: 150px;
  margin-bottom: 30px;
}

.imageSize{
    width: 170px;
    height: 170px;
    overflow: hidden;
    position: relative;
}
.aboutImage{
    object-fit:cover;
     transform: translateY(-30%);
     
}

@media (min-width: 600px) { 
    .aboutContainer h3{
    font-size: 50px;
}

   .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 72vh;
    margin-bottom: 100px;
    gap: 40px;
    padding: 0 40px;
}

.sectionTitle{
  text-align:center;
  font-size: 50px;
  color:white ;
  padding-top: 200px;
  margin-bottom: 50px;
}

.aboutContainer p{

    font-size: 30px;
   
}

.imageSize{
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
}
}

 @media (min-width: 1280px) { 

    .aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 52vh;
    margin-bottom: 100px;
    gap: 60px;
    padding: 0 300px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
      .aboutContainer h3{
    font-size: 30px;
}

.sectionPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.aboutContainer p{

    font-size: 25px;
   
}

.imageSize{
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.sectionTitle{
  text-align:center;
  font-size: 50px;
  color:white ;
  padding-top: 150px;
  margin-bottom: 50px;
}
 }