.iconParent{
    display: flex;
    align-items: center;
    width: 125px;
    height: 45px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
}


.techStackContainer{
   display: grid;
   justify-content: center;
   gap: 5px;
   grid-template-columns: repeat(3, auto);
   margin-bottom: 20px;
   min-height: 42vh;
   padding: 0 20px;
}

.techStackSection{
   margin-bottom: 100px;
   padding-top: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media (min-width: 600px) {
.iconParent{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
    font-size: 25px;
}

.techStackSection{
   padding-top: 200px;
}

.techStackSection h3{
font-size: 50px;
}

.techStackSection h4{
 padding-top: 100px;
 font-size: 30px;
    
}
 }

  @media (min-width: 1280px) {
    .iconParent{
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
}
    .techStackContainer{
    min-height: 32vh;
     display: grid;
   justify-content: center;
   gap: 15px;
   grid-template-columns: repeat(3, 200px);
   width: 100%;
   max-width: 1000px;
   padding: 0 300px;
    }
    .techStackSection{
   padding-top: 150px;
}
    .techStackSection h4{
      padding-top: 80px;
      padding-bottom: 50px;
      font-size: 30px;
    
}
   }