.iconParent{
    display: flex;
    align-items: center;
    width: 125px;
    height: 45px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
}


.techStackContainer{
   display: grid;
   justify-content: center;
   gap: 5px;
   grid-template-columns: auto auto auto;
 margin-bottom: 20px;
    height: 42vh;
}

.techStackSection{
   margin-bottom: 300px;
   display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 600px) {
.iconParent{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
    font-size: 25px;
}

.techStackSection h3{
font-size: 50px;
}

.techStackSection h4{
 padding-top: 200px;
 font-size: 30px;
    
}
 }

  @media (min-width: 1280px) {
    .iconParent{
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
}
    .techStackContainer{
    height: 32vh;
     display: grid;
   justify-content: center;
   gap: 5px;
   grid-template-columns: auto auto auto;
   grid-template-rows: 50px 50px 50px 50px;
   width: 40vw;
    }
    .techStackSection h4{
      padding-top: 100px;
      padding-bottom: 200px;
 font-size: 30px;
    
}
   }