.iconParent{
    display: flex;
    align-items: center;
    width: 110px;
    height: 45px;
    color: white;
    border: 1px solid #e0e0e049;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e049;
}

.iconHolder{
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: 110px 110px 110px;
   gap: 5px;
 margin-bottom: 20px;
 margin-top: 10px;

}

.firstProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90vw;
    max-width: 100%;
    margin-bottom: 80px;
    padding: 0 20px;
}

.firstProject img{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    margin: 20px 0;
}

.projectsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 150px;
    min-height: auto;
    margin-bottom: 50px;
}


@media (min-width: 600px) {

    .projectsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 200px;
}
.projectsSection p{
    font-size: 25px;
}

.projectsSection a{
    font-size: 25px;
}

.projectsSection h3{
    font-size: 50px;
}

.iconParent{
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
}

.iconHolder{
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: 130px 130px 130px;
   gap: 25px;
 margin-bottom: 20px;
 margin-top: 10px;

}
}

 @media (min-width: 1280px) {
.projectsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 150px;
    min-height: auto;
    margin-bottom: 50px;
}

.firstProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 100px;
    padding: 0 300px;
}

.firstProject img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

 }