@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --background-color: conic-gradient(
    from 226.49deg at 50% 50%,
    #000000 0deg,
    #002A78 119.42deg,
    #197578 227.87deg,
    #000000 356.54deg,
    #000000 360deg
  );
  --foreground: #171717;
  --main-font: "Chivo Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
 margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  background: var(--background-color);
  background-attachment: fixed;
  font-family: var(--main-font);
}
