.nextPageButton{
    position: fixed !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    color: white;
    bottom: 20px;
    right: 20px;
    background-color: rgba(224, 224, 224, 0.3);
    text-align: center;
    z-index: 998;
    visibility: visible !important;
    opacity: 1 !important;
    transform: none !important;
}
